.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main1 {
  border: 2px solid black;
  padding: 0px 60px 60px 60px;
}
.header {
  text-align: center;
  margin-bottom: 60px;
}
.main2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

input {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 320px;
  height: 45px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}



@media(max-width: 600px) {
  .main1 {
    padding: 0px 20px 20px 20px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
} 

